.sidenav {
    height: 100%;
    width: 100%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    background-color: #1A1C1E;
}

.sidenav__header {
    color: #fff;
}

.sidenav__list {
    width: 100%;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidenav__list--item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 16px;
    border-radius: 16px;
    margin: .75rem 0;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
    transition: background-color .4s ease;
}

.sidenav__list--text {
    margin-left: 1rem;
}

.sidenav__list--item:hover {
    background-color: #2b2d2e;
}